head {
    width: 125%;
}
body{
background-color: pink
}
h1 {
    text-align: center;     
    color: rgb(216, 149, 24);  
    line-height: 1;          
}
p{
    text-align: center; 
}
.image{
    text-align: center;
    position: absolute;
    width: 250px;
    top: 250px;
    left: 620px;    
}
a:link {
    color: blue;
    text-decoration: none;
}
.link {
    text-align: left;
    position: absolute;
    top: 550px;
    left: 50px;
}
a:visited {
    color: purple;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
}
a:active {
    color: yellow;
    text-decoration: underline;
}